* {
  min-height: 0;
  min-width: 0;
}

[role] {
  outline: none;
  border: none;
}

body {
  font-size: 1rem;
  font-family: @font-family;
}

p {
  margin: 35px 0;
}

.wrapper {
  display: flex;
  justify-content:center;

  &--menu {
    background: #1d2126;  

    .wrapper__container {
      width: @container-width;

    }
  }

  &__container {
    max-width: @container-width;
    flex-basis:@container-width;
    padding: 0 15px;
    
  }
}



